.root {
  position: relative;
}

.dropdown {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  border: 1px solid #d8dae5;
  border-radius: 4px;
  box-shadow: 0 5px 10px #2e2e2e10;
}
